.pillButton {
    background-color: #21242c;
    border: 3px solid #ea96ad;
    border-radius: 28px;
    box-sizing: border-box;
    color: #ea96ad;
    cursor: pointer;
    display: inline-block;
    font-family: Dustismo;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s, filter 300ms;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

.aboutButton {
    background-color: #21242c;
    border: 3px solid #ea96ad;
    border-radius: 28px;
    box-sizing: border-box;
    color: #ea96ad;
    cursor: pointer;
    display: inline-block;
    font-family: Dustismo;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s, filter 300ms;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

.aboutButton:hover {
    filter: drop-shadow(0 0 1em rgba(234, 150, 173, 0.2));
}

.pillButton:hover {
    filter: drop-shadow(0 0 1em rgba(234, 150, 173, 0.2));
}

.aboutButton:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

.aboutButton:active {
    background-color: #121318;
    transform: scale(.96);
}

.pillButton:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

.pillButton:active {
    background-color: #121318;
    transform: scale(.96);
}

.pillButton:disabled {
    border-color: #ea96ad;
    color: #121318;
    cursor: not-allowed;
    opacity: 1;
}

.card {
    width: 90%;
    height: 100%;
    margin: 25px;
    background-color: #181820;
    border: 3px solid #ea96ad;
    padding: 30px 50px;
    border-radius: 15px;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card-container img {
    width: 30%;
}

@media only screen and (max-width: 800px) {

    .card {
        width: 60%;
        height: 60%;
        margin: 25px;
        background-color: #181820;
        border: 3px solid #ea96ad;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .card-container img {
        width: 90%;
    }

    .pillButton {
        width: 160px;
        margin: 10px;
    }

    .aboutButton {
        width: 160px;
        margin: 10px;
    }

    .row-container {
        display: flex;
        align-self: center;
        flex-direction: column;
    }
}