html {
  input[type=text] {
    width: 40%;
    padding: 7px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    font-family: Hack, monospace;
    font-size: 100%;
    color: #ea96ad;
    background-color: #121318;
    border-radius: 28px;
    border: 2px solid #ea96ad;
    transition: width 0.4s ease-in-out;
    height: 5vh;
  }

  table{
    color: #ea96ad;
    background-color: #121318;
    border-radius: 28px;
    border: 2px solid #ea96ad;
    font-family: Hack, monospace;
    padding: 16px;
    width: 90%;
    height: 50vh;
    margin-bottom: 10px;
  }

  input[type=text]:focus {
    width: 90%;
  }

  @media only screen and (min-width: 1080px) {
    table{
      color: #ea96ad;
      background-color: #121318;
      border-radius: 28px;
      border: 2px solid #ea96ad;
      font-family: Hack, monospace;
      padding: 16px;
      width: 90%;
      height: 50vh;
      margin-bottom: 10px;
    }
  }
}

